.python-version
.ipynb_checkpoints/
__pycache__/
venv/
corpora/
models/legacy/
logs/legacy/
env/
*.txt
!requirements.txt
latex/*.aux
latex/*.log
latex/*.toc
latex/*.synctex.*
latex/*.bbl
latex/*.blg
*.zip
